<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/songs" method="post" style="text-align:center; border: 5px solid white; width: 750px; margin-left:auto; margin-right:auto">
  <br>
  <br>
  <label style="color:white; font-size:x-large">Song Title</label>
  <input type="text" name="title" />
  <br>
  <br>
  <label style="color:white; font-size:x-large">Track Number</label>
  <input type="number" name="trackNumber" />
  <br>
  <br>
  <label style="color:white; font-size:x-large">Length</label>
  <input type="number" name="length" />
  <br>
  <br>
  <label style="color:white; font-size:x-large">Album</label>
  <input type="number" name="albumID" />
  <br>
  <br>
  <input type="submit" value="Add Song!" style="color:black; font-size:larger; background-color: white; width: 150px; border: 2px solid pink">
  <br>
  <br>
</form>
</body>
</html>