<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Albums</title>
    <link th:href="@{/styles.css}" rel="stylesheet"/>

</head>
<body id="body2">


<div th:each="album:${albums}">

    <p>Album ID: <span th:text=${album.id}></spanth:text></span></p>
    <p th:text="${album.title}"></p>
    <p th:text="${album.artist}"></p>
    <p th:text="${album.length}"></p>
    <p th:text="${album.imageUrl}"></p>
    <div th:each="song: ${album.songs}">
        <p th:text=" 'Songs: ' + ${song.title} + ': ' + ${song.length} + ' Seconds'"></p>
    </div>
    <a href="/addSong">Add Song </a>
</div>

</body>
</html>
